.google-image {
  width: 352px;
  margin-left: 3%;
}

.broad {
  position: fixed;
  width: 100%;
}

.navbar-header a.navbar-brand {
  width: 100%;
  font-size: 20px;
}

.navbar-nav .active {
  font-weight: 400;
}

.encourage {
  text-align: center;
}

.encourage img {
  width: 70%;
}

.footer {
	width: 100%;
	background: #eeeeee;
	display: block;
  text-align: center;
}



.footer .footer-bottom {
  background-color: white;
  text-align: center;
  padding: 10px ;
  height: 50px;
}

.inner-footer {
	width: 100%;
	margin: atuo;
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items {
	padding: 10px 0;
	box-sizing: border-box;
  text-align: center;
}

form {
  margin-top: 10px;
}

.send {
  position: relative;
  right: 5%;
}

.contact {
  position: relative;
  left: 5%;
}

ul {
	list-style: none;
	color: #000;
	font-size: 15px;
	letter-spacing: 0.5px;
  padding: 0px;
}

ul a {
	text-decoration: none;
	outline: none;
	color: #000;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul i {
  margin-right: 10px;
}

ul li {
	margin: 10px;
	height: 25px;
}

.space li {
  margin-bottom: 20px;
}

.social-media {
	width: 100%;
	color: #000;
	text-align: center;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	width: 40px;
  height: 40px;
	margin: 20px 5px;
	padding: 10px;
	color: #000;
	border-radius: 50%;
	border: 1px solid grey;
  radius: 100px;
	transition: 0.3s;
}

.social-media i:hover {
	background: grey;
}

h2 {
  margin-bottom: 20px;
}

@media screen and (max-width: 1085px) {
  .encourage img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .send {
    margin: 0 20px 10px;
    right: 0%;
    width: 70%;
    text-align: center;
  }

  .contact {
    left: 0%;
    width: 70%;
    text-align: center;
  }
}
