<div class="footer">
  <div class="inner-footer" >
    <div class="footer-items send">
      <h2>Send us message!</h2>
      <div class="border"></div>
      <form method=post>
        <input name="name" type="text" class="form-control" placeholder="Your name" required /><br />
        <input name="email" type="email" class="form-control" placeholder="Your Email" required /><br />
        <input name="message" class="form-control" placeholder="Message" rows=4 required /><br />

        <input type="submit" class="btn btn-outline-secondary form-control submit" value="SEND MESSAGE" />
      </form>
    </div>

    <div class="footer-items contact">
      <h2>Contact us</h2>
      <div class="border"></div>
      <ul class="space">
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>1001 University Road, Hsinchu, Taiwan 300, ROC</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>justin.eed08@nctu.edu.tw</li>
      </ul>
      <div class="social-media">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2020 DSC in NCTU | Designed⭐️ by Justin
  </div>
</div>
