<nav class="shadow-sm mb-5 rounded navbar navbar-expand-lg navbar-light bg-white broad nav">
  <a href="#"><img src="images/dsc_logo.png" class="navbar-brand google-image"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Add class navbar-header -->
  <div class="collapse navbar-collapse navbar-header" id="navbarNav">
    <!-- Add class navbar-brand -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link navbar-brand" href="/">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-brand" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-brand" href="/activities">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-brand" href="/members">Members</a>
      </li>
    </ul>
  </div>
</nav>
